PORT=4000
PHX_HOST=localhost
MIX_ENV=dev
DATABASE_URL=ecto://postgres:postgres@localhost:15432/verisite_be
DB_HOST=localhost
DB_PORT=15432
DB_NAME=verisite_be
DB_USER=postgres
DB_PASSWORD=postgres
POOL_SIZE=10
SECRET_KEY_BASE=change-me-with-mix-phx-gen-secret
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
STORAGE_DRIVER=local
STORAGE_BUCKET=verisite-local
STORAGE_ENDPOINT=http://localhost:19000
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
